# 한국석유공사 Opinet 
# https://www.opinet.co.kr/user/main/mainView.do → 오피넷 Open API 신청
OPINET_API_KEY=F260531627

# 한국은행 ECOS 
# https://ecos.bok.or.kr/api/#/AuthKey/authKeyApplyPage
ECOS_API_KEY=RZLY4Q1Q3Q0YRYPO8AZK

# 공공데이터포털 
# https://www.data.go.kr → 한국소비자원 가공식품 API 신청 후 디코딩 키 사용
DATA_GO_KR_KEY=fd865d5debda0c7661e0695a2fc4c357102253246ab63cd89e5758d06f10d05c

# 한국농수산식품유통공사 KAMIS 
# https://www.kamis.or.kr/customer/reference/openapi_list.do → Open API 신청
KAMIS_CERT_KEY=your_kamis_cert_key_here
KAMIS_CERT_ID=your_kamis_cert_id_here
